In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df = df.sample(10000).drop('link',axis = 1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,New Order,Thieves Like Us,I've watched your face for a long time \r\nIt...
1,Cliff Richard,In The Night,You waken from a dream \r\nYou step outside ...
2,Chris Brown,Mercy,[Hook:] \r\nLamborghini mercy \r\nYour chick...
3,Steve Miller Band,Winter Time,In the winter time \r\nWhen all the leaves ar...
4,Noa,Pizmon Layakinton,"Lailah lailah, mistakelet halevanah \r\nBapra..."
5,Ocean Colour Scene,Charlie Brown Says,Charlie brown says \r\nNo-one promised this w...
6,The Script,I'm Yours,You touch these tired eyes of mine \r\nAnd ma...
7,Dusty Springfield,Live It Up,"Now, you work all week just to make that money..."
8,Rolling Stones,Andrew's Blues,Yes now Andrew Oldham sittin' on a hill with J...
9,Who,Dr. Jekyll And Mr. Hyde,"Hyde, Hyde. \r\nSomeone is spending my money ..."

In [9]:
df['text'][0]

"I've watched your face for a long time  \r\nIt's always the same  \r\nI've studied the cracks and the wrinkles  \r\nYou were always so vain  \r\nWell, now you live your life like a shadow  \r\nIn the pouring rain  \r\nOh, it's called love  \r\nYes, it's called love  \r\nOh, it's called love  \r\nAnd it belongs to us  \r\nOh, it dies so quickly  \r\nIt grows so slowly  \r\nBut when it dies, it dies for good  \r\nIt's called love  \r\nAnd it belongs to everyone but us  \r\n  \r\nI've lived my life in the valleys  \r\nI've lived my life on the hills  \r\nI've lived my life on alcohol  \r\nI've lived my life on pills  \r\nBut it's called love  \r\nAnd it belongs to us  \r\nIt's called love  \r\nAnd it's the only thing that's worth living for  \r\nIt's called love  \r\nAnd it belongs to us  \r\nIt's called love  \r\nYes it's called love  \r\n  \r\nOh, love is found in the east and west  \r\nBut when love is at home, it's the best  \r\nLove is the cure for every evil  \r\nLove is the air that supports the eagle  \r\nIt's called love  \r\nAnd it's so un-cool  \r\nIt's called love  \r\nAnd somehow it's become unmentionable  \r\nIt's called love  \r\nAnd it belongs to every one of us  \r\nIt's called love  \r\nAnd it cuts your life like a broken knife\r\n\r\n"

In [10]:
df.shape

(10000, 3)

# Text Cleaning and Preprocessing

In [11]:
df['text']= df['text'].str.lower().replace(r'^\w\s','').replace(r'\n',' ',regex =True)

In [12]:
df

,artist,song,text
0,New Order,Thieves Like Us,i've watched your face for a long time \r it'...
1,Cliff Richard,In The Night,you waken from a dream \r you step outside \...
2,Chris Brown,Mercy,"[hook:] \r lamborghini mercy \r your chick, ..."
3,Steve Miller Band,Winter Time,in the winter time \r when all the leaves are...
4,Noa,Pizmon Layakinton,"lailah lailah, mistakelet halevanah \r baprac..."
...,...,...,...
9995,The Monkees,She'll Be There,"when your dreams have died around you, she'll ..."
9996,Billy Joel,Temptation,it's time for me to be on my way i know \r i'...
9997,Tragically Hip,Yawning Or Snarling,one day in el paso \r the cops go into the cr...
9998,Rick Astley,Sleeping,"i toss and turn, i'm turning around but i cann..."
9999,Vanessa Williams,You Are Everything,"you are, you are, everything, everything, oh ..."

In [13]:
df.tail(5)

,artist,song,text
9995,The Monkees,She'll Be There,"when your dreams have died around you, she'll ..."
9996,Billy Joel,Temptation,it's time for me to be on my way i know \r i'...
9997,Tragically Hip,Yawning Or Snarling,one day in el paso \r the cops go into the cr...
9998,Rick Astley,Sleeping,"i toss and turn, i'm turning around but i cann..."
9999,Vanessa Williams,You Are Everything,"you are, you are, everything, everything, oh ..."

In [14]:
import nltk
from nltk.stem.porter import PorterStemmer

In [15]:
stemmer = PorterStemmer()

In [16]:
 def token(txt):
        token = nltk.word_tokenize(txt)
        a =[stemmer.stem(w) for w in token]
        return " ".join(a)

In [18]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Sanjana\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [29]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [30]:
df['text'].apply(lambda x: token(x))

0       i 've watch your face for a long time it 's al...
1       you waken from a dream you step outsid to find...
2       [ hook : ] lamborghini merci your chick , she ...
3       in the winter time when all the leav are brown...
4       lailah lailah , mistakelet halevanah baprachim...
                              ...
9995    when your dream have die around you , she 'll ...
9996    it 's time for me to be on my way i know i 've...
9997    one day in el paso the cop go into the crowd u...
9998    i toss and turn , i 'm turn around but i can n...
9999    you are , you are , everyth , everyth , oh you...
Name: text, Length: 10000, dtype: object

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [32]:
tfid = TfidfVectorizer(analyzer = 'word', stop_words='english')

In [33]:
matrix=tfid.fit_transform(df['text'])

In [34]:
similer=cosine_similarity(matrix)

In [35]:
similer[0]

array([1.00000000e+00, 6.48289388e-02, 7.78655179e-03, ...,
       5.46689516e-04, 3.80075313e-03, 1.80117587e-01])

In [40]:
df[df['song']=='Thieves Like Us'].index[0]

0

Recommender Function

In [ ]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted( list(enumerate(similer[idx])), reverse = True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:6]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [45]:
recommender("Wednesday's Child")

IndexError: index 0 is out of bounds for axis 0 with size 0

In [42]:
import pickle

In [43]:
pickle.dump(similer,open("similarity","wb"))

In [44]:
pickle.dump(df,open("df","wb"))

In [47]:
similarity = pickle.load(open(r"C:\Users\Sanjana\OneDrive\Desktop\coding\notspotify3\dataset\similarity.pkl", "rb"))

In [50]:
similer.shape

(10000, 10000)

In [39]:
print("Baby Driver")  # Ensure it's exactly as expected
print(df[df['song'] == song_name])  # Check if the song exists in the dataset

Baby Driver

NameError: name 'song_name' is not defined

In [40]:
music, similarity = load_data()
print(f"Music shape: {music.shape}")
print(f"Similarity shape: {similarity.shape}")

NameError: name 'load_data' is not defined